body {
  font-family: sans-serif;
}
.container{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;


}
input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active{
  background-color: #7ff0d2;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.card div.summary:hover {
  background-color: #7ff0d2;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.cardd{
  overflow:  scroll;
   max-height: 400px;
}

::-webkit-scrollbar { /* scrollbar height */
  width: 1px;
  background: transparent; /* optional: just make scrollbar invisible */
}
